body{
    background-image: url('images/background.jpg');
    background-size: cover;
}

.tarolo-meret{
    height: 400px;
    width: 250px;
}

.kep-meret{
    height: 400px;
    width: 250px;
}

.szoveg-meret{
    height: 250px;
    width: 250px;
}
